In [384]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [385]:
data= pd.read_csv("/content/titanic_train.csv")
test_data=pd.read_csv("/content/titanic_test.csv")
test_Y=pd.read_csv("/content/gender_submission.csv")

In [386]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [387]:
test_data.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [388]:
data.shape

(891, 12)

In [389]:
test_data.shape

(418, 11)

In [390]:
test_Y.shape

(418, 2)

In [391]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [392]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [393]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [394]:
data.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Data Exploration and Analysis

In [395]:
print("Total Number Of Passesnger in a Titanic Ship :",len(data))
print("Total Number Of Passenger Survived :",len(data[data['Survived']==1]))
print("% of passengers survived :",round(342/891*100,2),"%")
print("% of women who survived :",round((len(data[(data['Survived']==1) & (data['Sex']=='female')])/len(data))*100,2),"%")
print("% of men who survived :",round((len(data[(data['Survived']==1) & (data['Sex']=='male')])/len(data))*100,2),"%")

Total Number Of Passesnger in a Titanic Ship : 891
Total Number Of Passenger Survived : 342
% of passengers survived : 38.38 %
% of women who survived : 26.15 %
% of men who survived : 12.23 %

In [396]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [397]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [398]:
pd.DataFrame(round( (data.isnull().sum() / data.shape[0])*100,3 ), columns=['Missing %'])

             Missing %
PassengerId      0.000
Survived         0.000
Pclass           0.000
Name             0.000
Sex              0.000
Age             19.865
SibSp            0.000
Parch            0.000
Ticket           0.000
Fare             0.000
Cabin           77.104
Embarked         0.224

In [399]:
data1= data.drop(['PassengerId','Name','Ticket'], axis=1)
test_data1=test_data.drop(['PassengerId','Name','Ticket'], axis=1)
test_Y=test_Y.drop(['PassengerId'], axis=1)
data1.head(4)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S

In [400]:
data1.drop('Cabin',axis=1,inplace=True)
test_data1.drop('Cabin',axis=1, inplace=True)
data1.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [401]:
data1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [402]:
test_data1.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [403]:
data1['Embarked']=data1['Embarked'].fillna(data1['Embarked'].mode()[0])
data1['Age']=data1['Age'].fillna(data1['Age'].mean())

In [404]:
test_data1['Embarked']=test_data1['Embarked'].fillna(data1['Embarked'].mode()[0])
test_data1['Age']=test_data1['Age'].fillna(data1['Age'].mean())
test_data1['Fare']=test_data1['Fare'].fillna(data1['Fare'].mean())

In [405]:
data1.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [406]:

test_data1.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [407]:
test_data1.shape

(418, 7)

In [408]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [409]:
from sklearn.preprocessing import LabelEncoder
le_sex= LabelEncoder()
le_embarked= LabelEncoder()

le_sex_test=LabelEncoder()
le_embarked_test=LabelEncoder()

In [410]:
data1["Sex"]=le_sex.fit_transform(data1["Sex"])
data1["Embarked"]=le_embarked.fit_transform(data1["Embarked"])

In [411]:
test_data1["Sex"]=le_sex.fit_transform(test_data1["Sex"])
test_data1["Embarked"]=le_embarked.fit_transform(test_data1["Embarked"])

In [412]:
data1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [413]:
test_data1.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [414]:
data_X=data1.drop('Survived',axis='columns')
data_Y= data1['Survived']

In [415]:
data_X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [416]:
data_Y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

**Model Training**

In [417]:
from sklearn import tree
model= tree.DecisionTreeClassifier()

In [418]:
model.fit(data_X,data_Y)

DecisionTreeClassifier()

In [419]:
model.score(data_X,data_Y)

0.9820426487093153

In [420]:
test_Y.shape

(418, 1)

In [421]:
model.score(test_data1,test_Y)

0.80622009569378